*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
  padding: 0;
  border:none;
  background: none;
  outline: none;
}