:root{
  --bg-window:#0E0C15;
  --bg-color-content: #121825;

  --bg-color-input:#121825;
  --border-color-input:#313E62;
  --color-placeholder:#616D8D;

  --bg-color-modal: #222B44;
  --border-color-modal: #313E62;

  --primary-bg: #1C64F2;
  --bg-my-message: #1C64F2;

  --red-light: #ff0000;

  --overlay-background: rgb(0 0 0 / 50%);
}