.form{
    background: var(--bg-color-modal);
    color:#ffffff;
    padding:20px;
    border-radius:1rem;
}
.closeAbs{
  display:block;
  padding:0 !important;
  margin-left:auto;

}
.titleForm{
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size:22px;
  font-weight:bold;
  margin-bottom:10px;
}
.auth{
  margin-bottom:0.5rem;
}